:root{
    --base-color: #9D0208 ;
    --accent-color: #aa1120 ;
    --light-color:  #292424; 

    --base-font: verdana, geneva, tahoma, sans-serif  ;
    --accent-font: 'Open Sans', sans-serif; 
}